/* CSS RESET */

* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'VectipedeRg-Regular';
  src: url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.eot');
  src: url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.woff2') format('woff2'), url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.woff') format('woff'), url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.ttf') format('truetype'), url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.svg#VectipedeRg-BoldItalic') format('svg'), url('https://learn.mheducation.com/rs/303-FKF-702/images/VectipedeRg-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  background-color: #ffffff;
}

img {
  width: 100%;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 35px;
  color: #a5cf4c;
  font-weight: 300;
  text-align: left;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 1px;
}

h2 {
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 22px;
  color: #2f2f2f;
  font-weight: 500;
  text-align: left;
  margin: 25px 0px 10px 0px;
}

.verde {
  color: #7cc144;
}

.azul {
  color: #31c1f2;
}

.rosa, a {
  color: #e5459a;
}

.amarillo {
  color: #fcc31e;
}

p {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  color: #2f2f2f;
  width: 100%;
  margin: 0 auto;
  letter-spacing: 0.2px;
}

button {
  display: inline-block !important;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #e4e4e4;
}

section {
  padding-top: 2%;
  padding-bottom: 2%;
}

.imgcontainer {
  text-align: center;
}

.button {
  font-family: 'VectipedeRg-Regular', sans-serif !important;
  border: 0px !important;
  letter-spacing: 2px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
  background-color: #74B826 !important;
  color: #ffffff !important;
  transition: all 0.3s ease 0s;
  border-radius: 0px !important;
  text-align: center !important;
  padding: 10px 30px 10px 30px !important;
  background-image: none !important;
}

.hvr-outline-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}

.hvr-outline-out:before {
  content: '';
  position: absolute;
  border: #74B826 solid 4px !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: top, right, bottom, left;
  transition-property: top, right, bottom, left;
}

.hvr-outline-out:hover:before, .hvr-outline-out:focus:before, .hvr-outline-out:active:before {
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
}

.hvr-bounce-to-right:before {
  content: "";
  text-decoration: none !important;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #38A9F6 !important;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

a:focus, a:hover {
  text-decoration: none !important;
}

.navbar {
  margin-bottom: 0px !important;
  border-radius: 0px;
}

.navbar-default {
  background-color: #ffffff;
}

.mktoForm .mktoRadioList, .mktoForm .mktoCheckboxList {
  width: 10% !important;
  padding: 0.3em;
  float: left;
}

label[for="iBRPoliticaPrivacidad"], label[htmlFor="iBRPoliticaPrivacidad"] {
  width: 90% !important;
  float: right !important;
  padding-top: 1px !important;
}

.mktoLogicalField.mktoCheckboxList.mktoHasWidth.mktoRequired {
  width: 10% !important;
}

.mktoGutter.mktoHasWidth {
  display: none !important;
}

.mktoForm .mktoAsterix {
  float: right !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
}

.navbar-nav {
  margin: 0px !important;
}

/* --------------------------- MENU --------------------------- */

.hero-nav {
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://learn.mheducation.com/rs/303-FKF-702/images/monstruitosheader.jpg);
}

.sectionone {
  padding-top: 1%;
}

img.logo {
  width: 160px;
}

.navbackground {}

/* --------------------------- SECTION ACCORDION --------------------------- */

.sectionaccordion {
  padding-top: 0px;
  padding-bottom: 0px;
}

.fullwidth {
  width: 100% !important;
}

.inneraccordion {
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

.accorciontabs {
  display: inline-flex;
}

.btn-primary {
  height: 70px;
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 30px;
  width: 100%;
  border-radius: 0px;
}

.tab1 {
  background-color: #a5cf4c;
  border: 0px;
}

.tab2 {
  background-color: #e86d24;
  border: 0px;
}

.tab3 {
  background-color: #d42629;
  border: 0px;
}

/* --------------------------- MATHNIFICOS --------------------------- */

div#section3, div#section32, div#section33 {
  margin-top: 10px;
  margin-bottom: 50px;
  justify-content: flex-start;
}

.magenta {
  background-color: #b43e96;
  color: #ffffff;
  width: 80%;
  padding: 20px 35px;
}

.magentagradient h2 {
  color: #ffffff !important;
  margin: 10px 0px 10px 0px !important;
}

.magentagradient p {
  color: #ffffff !important;
}

.magentagradient a {
  color: #ffffff !important;
  font-weight: 500;
  text-decoration: underline;
}

.ulmagenta {
  margin-bottom: 10px;
}

ul.ulmagenta {
  list-style: none;
  padding: 0;
}

.ulmagenta li {
  padding-left: 4em;
  padding-top: 1em;
}

.ulmagenta li:before {
  content: "\f00c";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  font-size: 12px;
  margin-left: -1em;
  /* same as padding-left set on li */
  width: 1.7em;
  /* same as padding-left set on li */
}

ul.componentes {
  list-style: none;
  padding: 0;
}

.componentes li {
  padding-left: 4em;
  padding-top: 0.5em;
}

.componentes li:before {
  content: "\f105";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #b43e96;
  margin-left: -1em;
  /* same as padding-left set on li */
  width: 1em;
  /* same as padding-left set on li */
}

.arrow_box {
  position: relative;
  background: #A2D057;
}

.arrow_box:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(162, 208, 87, 0);
  border-top-color: #A2D057;
  border-width: 30px;
  margin-left: -30px;
}

.arrow_box p {
  color: #ffffff;
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 24px;
  text-align: center;
  line-height: 35px;
  padding: 20px 20px;
}

.bocadillo {
  align-items: flex-end;
}

/* --------------------------- ENLACES --------------------------- */

ul.enlaces {
  list-style: none;
  padding: 0;
}

.enlaces li {
  padding-left: 4em;
  padding-top: 0.5em;
}

.enlaces li:before {
  content: "\f105";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #ED6D33;
  margin-left: -1em;
  /* same as padding-left set on li */
  width: 1em;
  /* same as padding-left set on li */
}

/* --------------------------- PEQUES --------------------------- */

ul.peques {
  list-style: none;
  padding: 0;
}

.peques li {
  padding-left: 4em;
  padding-top: 0.5em;
}

.peques li:before {
  content: "\f105";
  /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
  color: #d42629;
  margin-left: -1em;
  /* same as padding-left set on li */
  width: 1em;
  /* same as padding-left set on li */
}

.numero {
  width: 200px;
}

.imgcontainter {
  text-align: center;
}

.sofi {
  width: 400px;
}

/* --------------------------- SECTION 2 --------------------------- */

.sectiontwo {
  background-color: #fafafa;
}

.section2 h2 {
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 32px;
  color: #1B619F;
  font-weight: 500;
  text-align: left;
}

/* --------------------------- SECTION THANKS --------------------------- */

.sectionthanks {
  border-top: 2px solid #7cc144;
  padding: 3% 0;
}

.sectiononethanks {
  height: 65vh;
}

.sectionthanks h1 {
  text-align: center;
}

.buttonwrap {
  text-align: center;
  margin-top: 50px;
}

/* --------------------------- FORM --------------------------- */

.mktoForm .mktoButtonWrap.mktoRound .mktoButton {
  font-family: 'VectipedeRg-Regular', sans-serif !important;
  border: 0px !important;
  letter-spacing: 2px !important;
  font-size: 20px !important;
  font-weight: 500 !important;
  background-color: #74B826 !important;
  color: #ffffff !important;
  transition: all 0.3s ease 0s;
  border-radius: 0px !important;
  text-align: center !important;
  padding: 8px 30px !important;
  background-image: none !important;
}

.mktoButtonRow {
  text-align: center !important;
}

select {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  height: 35px !important;
  line-height: 35px !important;
  font-size: 14px !important;
  color: #757575 !important;
}

.mktoRadioList.mktoHasWidth label {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  font-size: 14px !important;
  color: #757575 !important;
}

.mktoForm .mktoRadioList>label, .mktoForm .mktoCheckboxList>label {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  margin-right: 25px !important;
  margin-left: 7px !important;
  line-height: 0.9em !important;
  display: block;
  min-height: 12px !important;
}

.mktoRadioList.mktoHasWidth {
  display: inline-flex !important;
}

.mktoForm {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  text-align: left !important;
  border-radius: 0px !important;
}

.form {
  width: 70% !important;
}

.mktoHtmlText {
  font-weight: normal !important;
  font-size: 16px !important;
  font-family: 'museo-sans', 'Open Sans', sans-serif !important;
  color: #888888 !important;
}

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  font-family: 'VectipedeRg-Regular', sans-serif;
  font-size: 20px !important;
  font-weight: 500 !important;
  padding: 8px 30px !important;
  text-transform: uppercase !important;
  letter-spacing: 2px !important;
}

.mktoFieldDescriptor.mktoFormCol {
  margin-bottom: 15px !important;
}

/* remove focus from buttons bootstrap start */

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline-color: transparent !important;
  outline-style: none !important;
}

/* remove focus from buttons bootstrap end */

/* remove focus from inputs start */

input:focus, textarea:focus, select:focus {
  border: 1px solid #444444 !important;
  outline-color: transparent !important;
  outline-style: none !important;
  outline: transparent !important;
}

/* remove focus from inputs end */

/* no bold labels start */

label {
  font-family: 'VectipedeRg-Regular', sans-serif !important;
  letter-spacing: 0.5px;
  font-weight: 500 !important;
  font-size: 12px !important;
  color: #949494 !important;
  padding-bottom: 0px !important;
  text-align: right !important;
}

/* no bold labels end */

/* responsive form fields start */

.mktoForm input[type=text], .mktoForm input[type=url], .mktoForm input[type=email], .mktoForm input[type=tel], .mktoForm input[type=number], .mktoForm input[type=date], .mktoForm textarea.mktoField, .mktoForm select.mktoField {
  border: 0px !important;
  border-radius: 0px !important;
  width: 100% !important;
  padding: 8px 8px 3px 10px !important;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  color: #1a619f !important;
  border-bottom: solid 2px #1a619f !important;
  border-left: solid 2px #1a619f !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.mktoFormCol, .mktoFieldWrap {
  margin-top: 5px !important;
  width: 100% !important;
}

/* responsive form fields end */

/* width form fields start */

.mktoHasWidth {
  width: 100% !important;
}

/* width form fields end */

/* offset vertical spacing fields start */

.mktoForm .mktoOffset {
  float: left;
  height: 0 !important;
  width: 10px;
}

/* offset vertical spacing fields end */

/* center submit button start */

.mktoButtonWrap {
  margin-left: 0 !important;
}

.mktoButtonRow {
  width: 100% !important;
  text-align: center !important;
  padding-bottom: 10px !important;
  padding-top: 25px !important;
}

/* center submit button end */

/* change the button background color start */

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  background: #74B826 !important;
}

/* change the button background color end */

/* remove the border from the button start */

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {
  border: 0 !important;
}

/* remove the border from the button end */

/* add padding to the button start */

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {}

/* add padding to the button end */

/* change the font size of the button start */

.mktoForm .mktoButtonWrap.mktoSimple .mktoButton {}

/* change the font size of the button end */

/* fxing the radio buttons and checkboxes when labels are above the form start */

.mktoForm.mktoLayoutAbove .mktoRadioList, .mktoForm.mktoLayoutAbove .mktoCheckboxList {
  width: auto !important;
  float: left !important;
  clear: none !important;
}

/* fxing the radio buttons and checkboxes when labels are above the form end */

/* --------------------------- FOOTER --------------------------- */

.footer {
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  text-align: center;
  color: #ffffff;
}

.footerbg {
  padding: 0;
  background-color: #51cbf4;
}

.footer img {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer p {
  color: #ffffff !important;
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

.footer a {
  color: #ffffff !important;
  text-decoration: none;
  font-family: 'museo-sans', 'Open Sans', sans-serif;
  font-size: 12px;
}

.menu li:hover {
  opacity: 0.5;
  transition: 0.2s;
}

.menu li {
  font-size: 13px;
  transition: 0.2s;
}

div#footertext {
  padding-top: 2%;
}

.fa-stack-2x {
  font-size: 2em;
  color: #ffffff;
}

.fa-inverse {
  color: #51cbf4;
}

ul.menu {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  margin-bottom: 0px;
}

/* --------------------------- STICKY FOOTER --------------------------- */

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 64px;
}

body {
  position: relative;
  min-height: 100%;
  padding-bottom: 64px;
}

html {
  height: 100%;
}

/* --------------------------- MEDIAQUERIES --------------------------- */

/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  img.iconitos {
    width: 36%;
  }
  .vertical-align {
    display: block;
  }
  .section2 {
    text-align: center;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {

  .accorciontabs {
    display: block;
}
.logomenu {
    text-align: center;
}

}

/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
  div#section3image {
    padding-top: 10%;
  }
  .sectionthree {
    background-color: #fafafa;
    padding-bottom: 6%;
    padding-top: 7%;
  }
  img.logo {
    width: 50%;
    margin: 1%;
  }
  img.logor {
    width: 35%;
    margin: 1%;
  }
  .social {
    margin-bottom: 5%;
  }
  img.iconitos {
    width: 25%;
  }
  h1 {
    text-align: center !important;
  }
  h2 {
    text-align: center !important;
  }
  p {
    text-align: center !important;
  }
}

@media only screen and (min-width: 480px) {
  .inline-btn-list {
    width: 100%;
  }
}

.magentagradient {
  color: #ffffff;
  width: 80%;
  padding: 10px 35px;
  background: rgba(180, 62, 151, 1);
  background: -moz-linear-gradient(-45deg, rgba(180, 62, 151, 1) 0%, rgba(180, 62, 151, 1) 85%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(180, 62, 151, 1)), color-stop(85%, rgba(180, 62, 151, 1)), color-stop(85%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(180, 62, 151, 1) 0%, rgba(180, 62, 151, 1) 85%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(180, 62, 151, 1) 0%, rgba(180, 62, 151, 1) 85%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(180, 62, 151, 1) 0%, rgba(180, 62, 151, 1) 85%, rgba(255, 255, 255, 1) 85%, rgba(255, 255, 255, 1) 100%);
  background: linear-gradient(135deg, rgba(180, 62, 151, 1) 0%,
}
